{% extends 'layouts.html' %}
{% block title %}
    Login
{% endblock title %}
<!-- ========================== -->
{% block head %}
    <h1>Welcome!</h1>
{% endblock head %}
<!-- ========================== -->
{% block body %}
    <h3>Please fill the form</h3>
    <form action="{{ url_for('login_process_') }}" method="post">
        Username:
        <input type="text" name="name" autocomplete="off" id="" required>
        <br>
        <input type="submit" value="submit">
        <br>
    </form>
    <h2>or New?</h2>
    please register <a href="{{ url_for('index') }}">here</a>.
{% endblock body %}
<!-- ========================== -->
{% block script %}
    
{% endblock script %}
<!-- ========================== -->