{% extends 'layouts.html' %}
{% block title %}
    Login
{% endblock title %}
<!-- ========================== -->
{% block head %}
    <h1>Please confirm it's You</h1>
{% endblock head %}
<!-- ========================== -->
{% block body %}
{% for u in user %}
    <h3>Welcome {{ u.name }}! Please confirm it's You</h3>
    <form action="{{ url_for('login_process__') }}" onsubmit="return check()" method="post">
        Password:
        <input type="password" name="" hidden id="password" value="{{ u.password }}">
        <input type="password" name="password" autocomplete="off" id="password_check" required>
        <br>
        <input type="submit" value="submit">
        <br>
    </form>
{% endfor %}
    <h2>or New?</h2>
    It's not You <a href="{{ url_for('login') }}">Go back</a>.
{% endblock body %}
<!-- ========================== -->
{% block script %}
    <script>
        // check
        function check() {
            var password = document.querySelector("#password").value;
            var password_check = document.querySelector("#password_check").value;
            if (password === password_check) {
                return true;
            } else {
                alert('please insert a valid password!');
                return false;
            };
        };
    </script>
{% endblock script %}
<!-- ========================== -->